.Menu__contenido {
  height: calc(100vh - var(--heigh-header));
}

.Categories {
  display: flex;
  flex-direction: column;
  gap: 2.43rem;
}
.Categories__title {
  font: bold 1rem 'Quicksand';
  text-transform: uppercase;
}
.Menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.Menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.31rem;
}
.Menu__link {
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
  color: black;
  font: bold 1rem 'Quicksand';
}

.Menu__user {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  padding-bottom: 2rem;
}
.Menu__user span {
  font: 300 0.875rem 'Quicksand';
  color: black;
}
.Menu__user button {
  color: var(--primary-color);
  background: none;
  border: none;
  width: fit-content;
  padding-right: 10px;
  font: bold 0.875rem 'Quicksand';
}
