.ProductDetail {
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.ProductDetail__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.ProductDetail__img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2.5rem;
}
.ProductDetail__price {
  color: var(--black);
  font: bold 1.125rem 'Quicksand';
}
.ProductDetail__name {
  font: normal 1.125rem 'Quicksand';
  color: var(--text-gray);
  margin-bottom: 1rem;
}
.ProductDetail__description {
  font: normal 1rem 'Quicksand';
  color: var(--text-gray);
}
.btn.ProductDetail__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 1.5rem;
}
.ProductDetail__button i {
  display: inline-block;
  width: 23px;
  height: 24px;
  background-image: url('../../assets/cart_white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ProductDetail__closeButton {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ProductDetail__closeButton i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/close-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ProductDetail__figure {
  position: relative;
}

@media screen and (min-width: 769px) {
  .ProductDetail.container {
    position: fixed;
    right: 0;
    top: var(--heigh-header);
    height: calc(100vh - var(--heigh-header));
    max-width: 384px;
    background-color: white;
    padding: 1.5rem;
  }
  .ProductDetail__header {
    display: none;
  }
  .ProductDetail__button {
    margin-bottom: 0;
  }
}
